@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-accent: #ea580c;
  --color-bg-app: #ecfdf5;
  --color-fg: #064e3b;
  --color-muted: #64748b;
  --color-card-border: #a7f3d0;
  --color-danger: #dc2626;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
